.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.balance {
  font-size: 24px ;
}
.content {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 500px;
  justify-content: space-between;
  height: 170px;
  align-items: center;
}

.bet {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90px;
  justify-content: space-between;
}

.main-action {
  height: 40px;
}

.subtitle {
  font-size: 12px;
  min-height: 30px;
  max-width: 150px;
}