.bet-change {
  width: 34px;
  height: 34px;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 50%;
}
.bet-change:disabled{
  opacity: 0.5;
}
.bet-change__increase {
  background-color: #25dad1;
}

.bet-change__decrease {
  background-color: #f979a3;
}

.betting-option--container {
  width: 150px;         
  display: flex;
  justify-content: space-around;
  align-items: center;
}